@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;600&family=Roboto&display=swap");
body {
  padding-top: 20px;
  &:before {
    z-index: 10001;
    line-height: 20px;
    font-weight: bold;
    text-align: center;
    position: fixed;
    font-size: 20px;
    top: 0;
    left: 0;
    width: 100%;
    height: 20px;
    background: limegreen;
    content: "Xsmall";
  }
  @include media-breakpoint-up(sm) {
    &:before {
      content: "small";
      background: #f00;
    }
  }
  @include media-breakpoint-up(md) {
    font-size: $font-size-base;
    &:before {
      content: "middle";
      background: green;
    }
  }
  @include media-breakpoint-up(lg) {
    &:before {
      content: "Large";
      background: turquoise;
    }
  }
  @include media-breakpoint-up(xl) {
    &:before {
      content: "XLarge";
      background: #f09;
    }
  }
  @include media-breakpoint-up(xxl) {
    &:before {
      content: "XXLarge";
      background: #90f;
    }
  }
}

@font-face {
  font-family: "ttnorms";
  src: url(../fonts/TTNorms-Regular.woff);
}

// Intro block - Intro block - Intro block - Intro block - Intro block

.intro {
  background: linear-gradient(
    42.01deg,
    #323264 14.33%,
    #323264 51.39%,
    #7a425e 87.53%
  );
  height: 100vh;
  .intro-bg {
    height: 644px;
    display: flex;
    align-items: center;
    justify-content: center;
    @include media-breakpoint-up(lg) {
      background: url(../images/svg/intro_bg.svg);
      width: 689px;
      height: 644px;
      position: relative;
    }
    &::after {
      content: "";
      position: absolute;
      background: url(../images/svg/long_p_intro.svg);
      width: 430px;
      height: 687px;
      background-size: cover;
      top: 120px;
      left: -20px;
      @include media-breakpoint-up(md) {
        left: 50px;
      }
    }
    .slogan {
      text-align: center;
      font-size: 38px;
      color: $white;
      z-index: 3;
    }
  }
  .logo {
    background: url(../images/svg/logo_dark.svg);
    width: 77.5px;
    height: 31px;
    background-size: cover;

    @include media-breakpoint-up(lg) {
      width: 128px;
      height: 50px;
    }
  }
}

// Offers block - Offers block - Offers block - Offers block - Offers block

.offers {
  background: linear-gradient(
    228.57deg,
    #323264 11.93%,
    #323264 57.17%,
    #643e72 87.46%
  );
  border-radius: 0 0 12px 12px;

  position: relative;
  &:before {
    position: absolute;
    bottom: -10px;
    left: 20px;
    width: calc(100% - 40px);
    height: 10px;
    background: #cacadb;
    border-radius: 0px 0px 12px 12px;
    content: "";
  }
  &:after {
    position: absolute;
    bottom: -20px;
    left: 40px;
    width: calc(100% - 80px);
    background: #e7e7f2;
    border-radius: 0px 0px 12px 12px;
    height: 10px;
    content: "";
  }

  .subNav {
    list-style: none;
    li {
      display: flex;
      justify-content: flex-end;
    }
    .subNav_link {
      text-decoration: none;
      font-size: 42px;

      color: #b3b3ba;
      &:hover {
        background: #ef8080;
        background: -webkit-linear-gradient(to right, #ef8080 0%, #f0145a 100%);
        background: -moz-linear-gradient(to right, #ef8080 0%, #f0145a 100%);
        background: linear-gradient(to right, #ef8080 0%, #f0145a 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
    .active {
      background: #ef8080;
      background: -webkit-linear-gradient(to right, #ef8080 0%, #f0145a 100%);
      background: -moz-linear-gradient(to right, #ef8080 0%, #f0145a 100%);
      background: linear-gradient(to right, #ef8080 0%, #f0145a 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  h1 {
    color: $white;
    margin-bottom: 48px;

    background: #ef8080;
    background: -webkit-linear-gradient(to left, #ef8080 0%, #f0145a 100%);
    background: -moz-linear-gradient(to left, #ef8080 0%, #f0145a 100%);
    background: linear-gradient(to left, #ef8080 0%, #f0145a 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .col {
    margin-left: 60px;
  }
  .privilege {
    padding-top: 120px;
    font-size: 24px;
    color: $active;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      width: 92px;
      height: 92px;
      top: 15px;
      left: 0px;
    }
  }
  .comertion::before {
    background: url(../images/svg/icon_elec_comertion.svg);
  }
  .support::before {
    background: url(../images/svg/icon_complex_case.svg);
  }
  .structure::before {
    background: url(../images/svg/icon_structure.svg);
  }
  .relationship::before {
    background: url(../images/svg/icon_build_relationship.svg);
  }
  .safe::before {
    background: url(../images/svg/icon_safe_business.svg);
  }
  .court::before {
    background: url(../images/svg/icon_judje.svg);
  }
  p {
    font-size: 18px;
    color: $white;
    margin-bottom: 58px;
  }
}

// LINK - LINK - LINK - LINK - LINK - LINK

.headlink {
  font-size: 14px;

  text-transform: uppercase;
  text-decoration: none;
  color: $white;
  opacity: 50%;

  position: relative;
  &::after {
    content: "";
    position: absolute;

    background: url(../images/svg/right_arrow_link.svg);
    width: 8.5px;
    height: 11px;

    top: 5px;
  }
}

// TEAM - BLOCK TEAM - BLOCK TEAM - BLOCK TEAM - BLOCK TEAM - BLOCK

.team {
  margin-bottom: 77px;

  img {
    margin-top: 60px;
    display: block;
    border-radius: 12px 0 0 12px;
  }

  h1 {
    font-size: 42px;
    font-weight: 700;
    line-height: 49, 57px;

    background: #ef8080;
    background: -webkit-linear-gradient(to left, #ef8080 0%, #f0145a 100%);
    background: -moz-linear-gradient(to left, #ef8080 0%, #f0145a 100%);
    background: linear-gradient(to left, #ef8080 0%, #f0145a 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .textcol {
    margin-top: 60px;
    background: $bg-grey;
    padding-right: 100px;

    border-radius: 0 12px 12px 0;
  }

  .headlink {
    padding-top: 40px;

    font-weight: bold;
    color: $active;
    opacity: 1;
  }

  h4 {
    font-size: 18px;
    color: $grey;
  }

  span {
    font-size: 16px;
    color: $grey;
  }
}

// CASES - CASES - CASES - CASES - CASES - CASES - CASES - CASES

.cases {
  background: $bg-grey;

  .succes-cases {
    color: $hover;
  }

  h3 {
    margin-top: 48px;
    font-size: 24px;
    color: $soft;
  }

  p {
    font-size: 18px;
    color: $grey;
  }
}

// CUSTOMERS - CUSTOMERS - CUSTOMERS - CUSTOMERS - CUSTOMERS

.customers {
  h3 {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 14px;
    color: $main;

    margin-top: 30px;
    margin-bottom: 30px;

    text-align: center;
  }

  img {
    width: 100%;
  }
}
